<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>หยิบสินค้าแบบรายการเดียว	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="Check">

    <ion-list *ngSwitchCase="'Header'">
      <ion-grid>
        <ion-row>
            <ion-col col-3>
              <button ion-button block>Client</button>
            </ion-col>
            <ion-col col-2>
              <ion-input [(ngModel)]="oClient" readonly></ion-input>
            </ion-col>
            <ion-col col-auto>
              <button ion-button block (click)="doGetWo(oClient)">WO#</button>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)]="oWO"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>เลขที่</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oOrder" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-label>สถานะ</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oStatus" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>ลูกค้า</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oCustomer" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-label>วันที่</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDate" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>ชื่อ</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oName" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col col-4>
            <ion-label>เลขที่หนังสืออ้างอิง</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDocRef" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-label>วันส่งมอบ</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDeliveyDate" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-label>ส่งถึง</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDeliveyTo" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-label>ผู้จัดส่ง</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDeliveyName" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br/>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="doAssignWO(oClient)">Get Wo</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doClearHeader()">Clear</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="ConfirmWorksOrderbyOrder(oClient, oOrder, oWO)">Confirm</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'Details'">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <button ion-button block (click)="doGetLine(oClient, oOrder, oWO)">L#</button>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oL"></ion-input>
          </ion-col>
          <ion-col col-auto>
            <ion-label>สินค้า</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oItem" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>รายละเอียด</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDescription" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>จำนวน</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oQty" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-auto>
            <ion-label>หน่วย</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oUOM" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-auto>
            <ion-label>เกรด</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oGrade" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block (click)="doGetStockPickbyOrder(oClient, oItem, oWarehouse, oZone, oGrade, oPalletFrom)">Loc Pick</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oLocPick" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oWarehouse" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oZone" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button ion-button block (click)="doGetPalletTo(oWO)">Pallet To</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oPalletTo" #focusInputPallet (keyup.enter)="doPallet()"></ion-input>
          </ion-col>
          <ion-col col-auto>
            <button ion-button block (click)="doGetNewPallet(oClient)">N</button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button block (click)="doClearPallet()">C</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label>ตำแหน่ง</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oLocation" #focusInputLocation (keyup.enter)="doLocation()"></ion-input>
          </ion-col>
          <ion-col col-auto>
            <button ion-button block (click)="doReplenishment()">Replenish</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label>จากพาเลท</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oPalletFrom" #focusInputPalletFrom (keyup.enter)="doPalletFrom()" (click)="doClick()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label>บาร์โค๊ด</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oBarcode" #focusInputBarcode (keyup.enter)="doGetBarcode(oClient, oBarcode, oItem, oWarehouse, oZone, oGrade, oPalletFrom)" (click)="doClick()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label>รายละเอียด</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDesPallet" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>จำนวน</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oQtyPallet" #focusInputQty (click)="doClick()" type="number"></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-label>หน่วย</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oUOMPallet" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="doClearDetails()">Clear</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doPickSaleDetail(oClient, oOrder, oDocRef, oWO, oL, oQtyPallet, oUOM, oPalletFrom, oWarehouse, oLocation, oItem, oBarcode, oPalletTo)">Pick Item</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'PickList'">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button ion-button block disabled>Client</button>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oClient" readonly></ion-input>
          </ion-col>
          <ion-col col-auto>
            <button ion-button block disabled>WO#</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oWO" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-scroll scrollX="true" scrollY="true" style="height: 300px">
          <ion-row style="width: 1200px;" *ngFor = "let details of data_sale_detail; let i = index" (click)="doReturnPickList(details.item_code, details.task_no, details.activity, details.description)">
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                #
              </ion-row>
              <ion-row style="width:30px;">
                {{i+1}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                Task
              </ion-row>
              <ion-row style="width:30px;">
                {{details.task_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                Act
              </ion-row>
              <ion-row style="width:30px;">
                {{details.activity}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Pallet
              </ion-row>
              <ion-row style="width:30px;">
                {{details.pallet_to}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-2>
              <ion-row class="border-row" *ngIf = "i == 0">
                รหัสสินค้า
              </ion-row>
              <ion-row>
                {{details.item_code}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-5>
              <ion-row class="border-row" *ngIf = "i == 0">
                  ชื่อสินค้า
              </ion-row>
              <ion-row style="width:180px;">
                {{details.description}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                จำนวน
              </ion-row>
              <ion-row>
                {{details.qty}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                หน่วย
              </ion-row>
              <ion-row>
                {{details.uom}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </ion-grid>
    <br>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-label>สินค้า</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oItemPickList" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oTask" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oActivity" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>รายละเอียด</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDesPcikList" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
              <button ion-button block (click)="doClearPickList()">Clear</button>
          </ion-col>
          <ion-col>
              <button ion-button block (click)="doReveresTask(oClient, oWO, oOrder, oTask, oActivity)">Revease Task</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>
  </ion-content>
  <ion-footer>
      <ion-segment [(ngModel)]="Check">
        <ion-segment-button value="Header">
          หยิบสินค้าแบบรายการเดียว
        </ion-segment-button>
        <ion-segment-button value="Details" [disabled]="!isenabled" (click)="doClickDetail(oClient, oOrder, oWO)">
          รายละเอียด
        </ion-segment-button>
        <ion-segment-button value="PickList" [disabled]="!isenabled" (click)="doClickPickList(oWO)">
          รายการหยิบ
        </ion-segment-button>
      </ion-segment>
  </ion-footer>
