<ion-header>
  <ion-navbar color="primary">
    <ion-title>รายละเอียดการจัดเก็บสินค้า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
      <h2>
        รายละเอียดพาเลท
      </h2>
    </ion-list-header>
    <ion-scroll scrollX="true" scrollY="true">
          <ion-row style="width: 2000px;" *ngFor="let detail of data_detail; let i = index">
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                Client
              </ion-row>
              <ion-row>
                {{detail.client}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                เลขที่ใบรับ
              </ion-row>
              <ion-row>
                {{detail.receipt_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                สินค้า
              </ion-row>
              <ion-row>
                {{detail.item_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-2>
              <ion-row class="border-row" *ngIf="i == 0">
                รายละเอียดสินค้า
              </ion-row>
              <ion-row>
                {{detail.description}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                Line
              </ion-row>
              <ion-row>
                {{detail.line_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                WH#
              </ion-row>
              <ion-row>
                {{detail.warehouse_to}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                ตำแหน่งที่ตั้ง
              </ion-row>
              <ion-row>
                {{detail.location_to}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                หน่วย
              </ion-row>
              <ion-row>
                {{detail.uom}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                จำนวน
              </ion-row>
              <ion-row>
                {{detail.qty}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                เกรด
              </ion-row>
              <ion-row>
                {{detail.grade}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                สาขา
              </ion-row>
              <ion-row>
                {{detail.branch}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                Rec Num
              </ion-row>
              <ion-row>
                {{detail.rec_num}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf="i == 0">
                วันที่รับ
              </ion-row>
              <ion-row>
                {{detail.receipt_date}}
              </ion-row>
            </ion-col>
          </ion-row>
    </ion-scroll>
</ion-content>
