<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Relocation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-auto>
          <button ion-button >บริษัท</button>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="oClient"></ion-input>
        </ion-col>
        <ion-col col-auto>
          <button ion-button >พาเลท</button>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="oPallet" #focusInputPallet (keyup.enter)="doGetListItemInPallet_ByPallet(oClient, oPallet)"></ion-input>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll scrollX="true" scrollY="true">
      <ion-grid>
        <ion-row style="width: 1200px;" *ngFor="let item of data_item; let i = index"
        (click)="doReturnItemDetail(item.description,item.grade,item.item_code,item.item_no,item.location,item.qty_avail
        ,item.rec_num,item.uom,item.warehouse, item.pallet)">
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              รหัสสินค้า
            </ion-row>
            <ion-row>
              {{item.item_no}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" style="width: 200px;" *ngIf = "i == 0">
              รายละเอียด
            </ion-row>
            <ion-row style="width: 200px;">
              {{item.description}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              เกรด
            </ion-row>
            <ion-row>
              {{item.grade}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนย่อย
            </ion-row>
            <ion-row>
              {{item.qty_avail}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วยย่อย
            </ion-row>
            <ion-row>
              {{item.uom}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนใหญ่
            </ion-row>
            <ion-row>
              {{item.qty_pack}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วยใหญ่
            </ion-row>
            <ion-row>
              {{item.packing_uom}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนเศษ
            </ion-row>
            <ion-row>
              {{item.qty_pack_mod}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              คลัง
            </ion-row>
            <ion-row>
              {{item.warehouse}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              โลเคชั่น
            </ion-row>
            <ion-row >
              {{item.location}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              พาเลท
            </ion-row>
            <ion-row>
              {{item.pallet}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Lot
            </ion-row>
            <ion-row>
              {{item.lot_no}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Batch
            </ion-row>
            <ion-row>
              {{item.batch_no}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              วันผลิต
            </ion-row>
            <ion-row>
              {{item.prod_date}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" style="width: 100px;" *ngIf = "i == 0">
              วันหมดอายุ
            </ion-row>
            <ion-row style="width: 100px;">
              {{item.expiry_date}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Rec
            </ion-row>
            <ion-row>
              {{item.rec_num}}
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
  </ion-scroll>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button (click)="doGetItemNo(oClient, oItem)">สินค้า</button>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oItem"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label>รายละเอียด</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oDes" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label>โลเคชั่น</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oLocation" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-label>Rec No</ion-label>
      </ion-col>
      <ion-col >
        <ion-input [(ngModel)]="oRec" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-label>คลัง</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oWH" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-label>พาเลท</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oSrcPallet" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-label>หน่วย</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oUOM" style="background-color: #FFFF99" readonly></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-label>จำนวน</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oQty" (click)="doClick()"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-label>โลเคชั่นปลายทาง</ion-label>
      </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="oDestLoc" #focusInputDestLoc (click)="doClick()"></ion-input>
        </ion-col>
        <ion-col col-auto>
          <button ion-button (click)="doGetLocation(oClient, oItem, oWH, oDestLoc, oLocation)">?</button>
        </ion-col>
        <ion-col col-auto>
          <ion-item>
            <ion-label stacked style="margin: 0px 0px 0px 0;">เกรด</ion-label>
            <ion-select [(ngModel)]="oGrade" disabled>
              <ion-option *ngFor="let grade of listGrade" value="{{grade.param_code}}" [selected]="false">{{grade.param_code}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-label>พาเลทปลายทาง</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="oDestPit" #focusInputDestPit (click)="doClick()"></ion-input>
      </ion-col>
      <ion-col col-auto>
        <button ion-button (click)="doGetNewPallet(oClient)">ต่อไป</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="doClearAll()">ล้างทั้งหมด</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="doClear()">ล้าง</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="doMove(oSrcPallet,oWH,oDestLoc,oDestPit,oClient,oItem,oRec,oQty,oUOM)">ย้าย</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
