<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Load To Truck Pack Carton</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="Check">

    <ion-list *ngSwitchCase="'Header'">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <button ion-button block (click)="doGetLoading()">ใบโหลด</button>
          </ion-col>
          <ion-col>
              <!-- <ion-input [(ngModel)]="oLoadingSummaryNo" #focusInputT (click)="doGetLoading_Enter()"></ion-input> -->
            <ion-input [(ngModel)]="oLoadingSummaryNo" ></ion-input>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-label>สถานะ</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oStatus" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col>
            <ion-label stacked style="margin: 0px 0px 0px 0;">วันที่</ion-label>
            <ion-datetime [(ngModel)]="oDate" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block (click)="doGetLoadingTruckLicensePlate()">ทะเบียน</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oLicense" #focusInputLic></ion-input>
          </ion-col>
          <ion-col col-2>
            <button ion-button block>ชนิดรถ</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oViType" #focusInputVType></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block (click)="doGetLoadingDriver()">คนขับ</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDriver" #focusInputDriver></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block>นำส่งโดย</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oName" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="doClearHeader()">ล้าง</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doSaveLoadingSummaryHeader(oLoadingSummaryNo, oStatus, oDate, oLicense, oViType, oDriver, oName)">บันทึก</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doConfirmLoadingSummaryDetail(oLoadingSummaryNo)">ยืนยัน</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <ion-list *ngSwitchCase="'Details'">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button ion-button block>บริษัท</button>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oClient"></ion-input>
          </ion-col>
          <ion-col col-2>
            <button ion-button block (click)="GetLoadingSalesOrderCustomerInfo(oLoadingSummaryNo, oClient)">ใบขาย</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oSalesOrder" #focusInputSo></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block>ลูกค้า</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oCustomer" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button block>ใบส่ง</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oDeliveryNo" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col col-2>
            <button ion-button block>S.Pack</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oPackingNo" #focusInputPackNo (keyup.enter)="doChkScanPackCaton(oClient,oSalesOrder,oPackingNo,oCartonNo)"></ion-input>
          </ion-col>

          <ion-col col-2>
            <button ion-button block>Carton</button>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oCartonNo" #focusInputCartonNo (keyup.enter)="doChkScanPackCaton_2(oClient,oSalesOrder,oPackingNo,oCartonNo)"></ion-input>
          </ion-col>
        </ion-row> -->



      </ion-grid>
      <ion-grid>
        <ion-scroll scrollX="true" scrollY="true" style="height: 300px">
          <ion-row style="width: 800px;" *ngFor = "let details of data_details; let i = index" (click)="doReturn(details.packing_no,details.customer,details.customer_name,details.sales_order,details.delivery)" [ngClass]="((details.item_count) <= (details.chk_count)) ? 'odd' : 'even'" >
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                #
              </ion-row>
              <ion-row style="width:30px;">
                {{i+1}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-3>
              <ion-row class="border-row" *ngIf = "i == 0">
                ชื่อลูกค้า
              </ion-row>
              <ion-row >
                {{details.customer_name}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                ใบแจ้งหนี้
              </ion-row>
              <ion-row>
                {{details.invoice_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                ใบขาย
              </ion-row>
              <ion-row>
                {{details.sales_order}}
              </ion-row>
            </ion-col>


            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                ลูกค้า
              </ion-row>
              <ion-row>
                {{details.customer}}
              </ion-row>
            </ion-col>

            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                ใบส่งของ
              </ion-row>
              <ion-row>
                {{details.delivery}}
              </ion-row>
            </ion-col>

            <!-- <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                  Status
              </ion-row>
              <ion-row >
                {{details.loading_status}}
              </ion-row>
            </ion-col> -->
          </ion-row>
        </ion-scroll>
      </ion-grid>
      <ion-grid>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="doSaveLoadingSummaryDetail_btAdd(oLoadingSummaryNo, oClient, oSalesOrder, oCustomer,  oDeliveryNo)">โหลดขึ้นรถ</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doClearDetails()">ล้าง</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="doDeleteLoadingSummaryDetail(oLoadingSummaryNo, oClient, oSalesOrder, oCustomer, oPackingNo , oDeliveryNo , oDeliveryNo)">ลบ</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'Item'">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button ion-button block disabled>บริษัท</button>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="oClient" readonly></ion-input>
          </ion-col>
          <ion-col col-2>
            <button ion-button block disabled>ใบขาย</button>
          </ion-col>
          <ion-col>
            <!-- <ion-input [(ngModel)]="oWO" readonly></ion-input> -->
            <ion-input [(ngModel)]="oSalesOrder" readonly></ion-input>
          </ion-col>
          <ion-row>
            <ion-col col-2>
              <button ion-button block>บรรทัด</button>
            </ion-col>
            <ion-col col-2>
              <ion-input [(ngModel)]="oLineChk" style="background-color: #FFFF99" readonly></ion-input>
            </ion-col>
            <ion-col col-2>
              <button ion-button block>สินค้า</button>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)]="oItemChk" style="background-color: #FFFF99" readonly></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <button ion-button block>S.Pack</button>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)]="oPackingNo" #focusInputPackNo (keyup.enter)="doChkScanPackCaton(oClient,oSalesOrder,oPackingNo,oCartonNo)"></ion-input>
            </ion-col>

            <ion-col col-2>
              <button ion-button block>Carton</button>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)]="oCartonNo" #focusInputCartonNo (keyup.enter)="doChkScanPackCaton_2(oClient,oSalesOrder,oPackingNo,oCartonNo)"></ion-input>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-scroll scrollX="true" scrollY="true" style="height: 400px">
          <ion-row style="width: 1500px;" *ngFor = "let details of data_itemList; let i = index" (click)="doReturn_Detail_select(details.item_barcode,details.row_hh,details.packing_no,details.carton_no)" [ngClass]="(details.chk_HH != '') ? 'odd' : 'even'">
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                Chk
              </ion-row>
              <ion-row style="width:30px;" >
                <!-- <ion-checkbox [(ngModel)]="item"></ion-checkbox> -->
                <ion-checkbox color="danger" name="chk_item"  [checked]="details.chk_HH != ''" (click)="doReturn_Detail(details.load_summary,details.item_barcode,details.sales_order,details.delivery,details.customer,details.row_id,details.packing_no,details.carton_no)"></ion-checkbox>
              </ion-row>
            </ion-col>

            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:20px;" *ngIf = "i == 0">
                #
              </ion-row>
              <ion-row style="width:20px;">
                {{i+1}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                Task
              </ion-row>
              <ion-row style="width:30px;">
                {{details.task_no}}
              </ion-row>
            </ion-col> -->
            <!-- <ion-col class="border-col" col-auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                Act
              </ion-row>
              <ion-row style="width:30px;">
                {{details.activity}}
              </ion-row>
            </ion-col> -->
            <!-- <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Pallet
              </ion-row>
              <ion-row style="width:30px;">
                {{details.pallet_to}}
              </ion-row>
            </ion-col> -->
            <ion-col class="border-col" col-auto>
              <ion-row class="border-row" *ngIf = "i == 0" style="width:65px;">
                รหัสสินค้า
              </ion-row>
              <ion-row style="width:65px;">
                {{details.item_barcode}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-3>
              <ion-row class="border-row" *ngIf = "i == 0" >
                  ชื่อสินค้า
              </ion-row>
              <ion-row >
                {{details.description}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col" >
              <ion-row class="border-row" *ngIf = "i == 0">
                จำนวนย่อย
              </ion-row>
              <ion-row>
                {{details.qty}}
              </ion-row>
            </ion-col> -->
            <!-- <ion-col class="border-col" >
              <ion-row class="border-row" *ngIf = "i == 0">
                หน่วยย่อย
              </ion-row>
              <ion-row>
                {{details.uom}}
              </ion-row>
            </ion-col> -->
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
                จำนวนหีบ
              </ion-row>
              <ion-row>
                {{details.qty_pack}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
                หน่วยหีบ
              </ion-row>
              <ion-row>
                {{details.packing_uom}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
                จำนวนเศษ
              </ion-row>
              <ion-row>
                {{details.qty_mod}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                อัตราแปลงหน่วย
              </ion-row>
              <ion-row>
                {{details.convert_Qty}}
              </ion-row>
            </ion-col> -->
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               ล็อต
              </ion-row>
              <ion-row>
                {{details.lot_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               ชุด
              </ion-row>
              <ion-row>
                {{details.batch_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               วันหมดอายุ
              </ion-row>
              <ion-row>
                {{details.expiry_date}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               วันผลิต
              </ion-row>
              <ion-row>
                {{details.prod_date}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               Pack No.
              </ion-row>
              <ion-row>
                {{details.packing_no}}
              </ion-row>
            </ion-col> -->
            <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
               Carton
              </ion-row>
              <ion-row>
                {{details.carton_no}}
              </ion-row>
            </ion-col>

          </ion-row>
        </ion-scroll>
      </ion-grid>
      <ion-grid>
         <ion-row>
          <ion-col>
            <button ion-button block (click)="doClearDetails()">ล้าง</button>
            <!-- <button ion-button block (click)="doClearDetails()">CONFIRM CHECK</button> -->
          <!-- </ion-col> -->
          <!-- <ion-col>
            <button ion-button block (click)="doDeleteLoadingSummaryDetail(oLoadingSummaryNo, oClient, oSalesOrder, oCustomer, oPackingNo , oDeliveryNo , oDeliveryNo)">Delete</button>
          </ion-col> -->
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>
  </ion-content>

  <ion-footer>
      <ion-segment [(ngModel)]="Check">
        <ion-segment-button value="Header">
          Header
        </ion-segment-button>
        <ion-segment-button value="Details" [disabled]="!isenabled" (click)="doGetLoadingSummaryDetail(oLoadingSummaryNo, oClient)">
          Details
        </ion-segment-button>
        <ion-segment-button value="Item" [disabled]="!isenabled" (click)="doGetItemList(oClient, oSalesOrder ,oPackingNo,oCartonNo)">
          Item List
        </ion-segment-button>
      </ion-segment>
  </ion-footer>
