<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- <div *ngIf="data_logins">
      <ion-label style="margin-left: 100px; font-size: 20px">
        {{data_logins}}
      </ion-label>
    </div> -->

    <!-- <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list> -->
    <ion-list>
      <button menuClose ion-item (click)="openHomePage()">
        Home
      </button>
      <button menuClose ion-item (click)="openDCOperationPage()">
        DC Operation
      </button>
      <!-- <button menuClose ion-item (click)="openBranchOperationPage()">
        Branch Operation
      </button> -->
      <button menuClose ion-item (click)="doLogout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
