<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Location Inventory Query</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-auto>
          <button ion-button (click)="doGetWH()">คลัง</button>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="oWH" #focusInputWH></ion-input>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
        <ion-col col-auto>
          <button ion-button (click)="doGetLocationAll(oWH)">โลเคชั่น</button>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="oLoc" #focusInputLoc (keyup.enter)="doGetListPalletInLocation(oWH, oLoc)"></ion-input>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-scroll scrollX="true" scrollY="true">
      <ion-grid>
        <ion-row style="width: 1200px;" *ngFor="let listPallet of data_listPallet; let i = index" >
          <ion-col class="border-col" col-1>
            <ion-row class="border-row" *ngIf = "i == 0" >
              รหัส
            </ion-row>
            <ion-row>
              {{listPallet.item_no}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col" col-3>
            <ion-row class="border-row" *ngIf = "i == 0">
              รายละเอียด
            </ion-row>
            <ion-row>
              {{listPallet.description}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              พาเลท
            </ion-row>
            <ion-row>
              {{listPallet.pallet}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนย่อย
            </ion-row>
            <ion-row>
              {{listPallet.qty_avail}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วยย่อย
            </ion-row>
            <ion-row>
              {{listPallet.uom}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนใหญ่
            </ion-row>
            <ion-row>
              {{listPallet.qty_pack}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วยใหญ่
            </ion-row>
            <ion-row>
              {{listPallet.packing_uom}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วยเศษ
            </ion-row>
            <ion-row>
              {{listPallet.qty_pack_mod}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Batch
            </ion-row>
            <ion-row>
              {{listPallet.batch_no}}
            </ion-row>
          </ion-col>

          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Lot
            </ion-row>
            <ion-row>
              {{listPallet.lot_no}}
            </ion-row>
          </ion-col>
          <!-- <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Receipt Date
            </ion-row>
            <ion-row>
              {{listPallet.receipt_date}}
            </ion-row>
          </ion-col> -->
          <!-- <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Prod Date
            </ion-row>
            <ion-row>
              {{listPallet.prod_date}}
            </ion-row>
          </ion-col> -->
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              วันหมดอายุ
            </ion-row>
            <ion-row>
              {{listPallet.expiry_date}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              เกรด
            </ion-row>
            <ion-row>
              {{listPallet.grade}}
            </ion-row>
          </ion-col>

          <ion-col  class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              Rec
            </ion-row>
            <ion-row>
              {{listPallet.rec_num}}
            </ion-row>
          </ion-col>
          <ion-col  class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              TI
            </ion-row>
            <ion-row>
              {{listPallet.TI}}
            </ion-row>
          </ion-col>
          <ion-col  class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              HI
            </ion-row>
            <ion-row>
              {{listPallet.HI}}
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-scroll>
  <ion-grid>
    <ion-row>
        <ion-col>
          <button ion-button block (click)="doClear()">ล้าง</button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
