<ion-header>
  <ion-navbar color="primary">
    <ion-title>รายละเอียด</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll scrollX="true" scrollY="true">
      <ion-grid>
        <ion-row style="width:500px;" *ngFor = "let detail of data_details; let i = index">
          <ion-col class="border-col" col-auto>
            <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
              #
            </ion-row>
            <ion-row style="width:30px;">
              {{i+1}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col" col-5>
            <ion-row class="border-row" *ngIf = "i == 0">
              บาร์โค๊ด
            </ion-row>
            <ion-row>
              {{detail.item_barcode}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนสาขา
            </ion-row>
            <ion-row>
              {{detail.branch_qty}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              จำนวนที่รับ
            </ion-row>
            <ion-row>
              {{detail.receipt_qty}}
            </ion-row>
          </ion-col>
          <ion-col class="border-col">
            <ion-row class="border-row" *ngIf = "i == 0">
              หน่วย
            </ion-row>
            <ion-row>
              {{detail.uom}}
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-scroll>

</ion-content>
<ion-footer>
  <button ion-button clear (click)="dismiss()">
    Close
  </button>
</ion-footer>
